<% layout("layouts/boilerplate.ejs") %>

<body style="background-color: #E4E0E1;">
  <h3>All Expenses</h3>
  <form>
    <button class="btn btn-outline-success mb-4"><a class="newExpense" href="/expenses/new">New Expense</a></button>
  </form>
  
  <div class="container ">
    <div class="row">
      <% 
        const colors = ["bg-primary", "bg-secondary", "bg-success", "bg-danger", "bg-warning", "bg-info"];
      %>
      
      <% for (let i = 0; i < allExpense.length; i++) { %>
        <div class="col-md-4 mb-4">
          <div class="card <%= colors[i % colors.length] %> text-white">
            <div class="card-header">From: <%= allExpense[i].name %></div>
            <div class="card-body">
              <h5 class="card-title">To: <%= allExpense[i].to %></h5>
              <p class="card-text">
                Phone Number: <%= allExpense[i].phoneNumber %><br>
                Expenses: ₹<%= allExpense[i].expenses ? allExpense[i].expenses.toLocaleString("en-IN") : "N/A" %><br>
                Description: <%= allExpense[i].description %>
              </p>
              <a href="/expenses/<%= allExpense[i]._id %>" class="btn btn-light">SHOW</a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
</body>
